/* Общий стиль для страницы */
body, html {
  margin: 0;
  padding: 0;
  min-height: 790px; /* Минимальная высота страницы */
  max-height: 900px; /* Максимальная высота страницы */
  height: 100vh; /* Высота равна высоте окна браузера */
  display: flex;
  flex-direction: column; /* Вертикальная организация */
}

.header {
  background: linear-gradient(to bottom, #388E3C, #60C665);
  text-align: center;
  color: #fff;
  padding: 20px 10px;
  height: 90px;
}

.header h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700; /* Bold */
  font-size: 40px;
  line-height: normal; /* Auto */
  letter-spacing: 0; /* 0% */
  color: #FFFFFF; /* FFFFFF */
  text-align: center; /* Align center */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Drop shadow */
}

.header h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700; /* Bold */
  font-size: 32px;
  line-height: normal; /* Auto */
  letter-spacing: 0; /* 0% */
  color: #FFFFFF; /* FFFFFF */
  text-align: center; /* Align center */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Drop shadow */
}

/* Простые стили для колбочек */
.column {
  width: 40px;
  height: 140px;
  margin: 10px;
  position: relative; /* Для использования абсолютного позиционирования внутри */
  background-color: #eaeaea; /* Цвет фона колбочки */
}

/* Центрирование заголовков */
h1, h2 {
  text-align: center; /* Центрирование текста */
  margin: 10px 0; /* Отступы сверху и снизу */
  font-family: 'Arial', sans-serif; /* Шрифт для заголовков */
}

#OuterSection {
  flex: 1;
  background-color: #E9E9E9;
  display: flex;
  justify-content: center; /* Оставляем горизонтальное центрирование */
  align-items: flex-start; /* Начальное выравнивание по вертикали */
  position: relative;
  padding: 5px 0;
  box-sizing: border-box;
  min-height: 300px;
}


.liquidContainer {
  display: flex;
  flex-direction: column;
  gap: 0; /* Убирает зазоры между жидкостями */
}

#SectionGame {
  display: flex; /* Flexbox внутри SectionGame */
  flex-direction: column; /* Вертикальное расположение */
  justify-content: center; /* Центрируем содержимое внутри */
  align-items: center;
  max-height: calc(100% - 60px); /* Ограничиваем высоту с учетом отступов */
  width: 100%; /* Полная ширина */
  transform: scale(1); /* Базовое масштабирование */
  transform-origin: center; /* Точка масштабирования — центр */
}

#SectionGame * {
  max-width: 100%; /* Ограничиваем ширину всех вложенных элементов */
  max-height: 100%; /* Ограничиваем высоту всех вложенных элементов */

}

/* Добавим стиль для подсветки колбочек при их выборе */
.column.selected {
  border-color: red; /* Цвет границы колбочки при выборе */
}

#BackButton {
  position: absolute; /* Абсолютное позиционирование */
  bottom: 10px; /* Фиксируем кнопку от нижнего края */
  left: 20px;
  bottom: 20px;
  height: 40px;
  width: 50px;
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#BackButton:hover {
  background-color: rgb(107, 13, 13);
}

#ResetLevel {
  position: absolute; /* Абсолютное позиционирование */
  bottom: 10px; /* Фиксируем кнопку от нижнего края */
  right: 20px;
  bottom: 20px;
  height: 40px;
  width: 50px;
  background-color: rgb(255, 198, 10);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#ResetLevel:hover {
  background-color: rgb(104, 80, 0);
}

#FooterSection {
  width: 100%; /* Полная ширина секции */
  height: 60px; /* Фиксированная высота */
  background-color:#0e1f0f; /* Цвет фона */
  display: flex; /* Используем Flexbox */
}

.FooterButton {
  flex: 1; /* Каждая кнопка занимает равное место */
  background-color: #60C665; /* Цвет кнопок */
  border: none; /* Убираем границу */
  color: white; /* Цвет текста */
  cursor: pointer; /* Курсор при наведении */
  font-family: 'Inter', sans-serif;
  font-weight: 700; /* Жирный текст */
  font-size: 25px; /* Размер шрифта */
  line-height: normal; /* Автоматическая высота строки */
  letter-spacing: 0; /* Межбуквенный интервал */
  text-align: center; /* Центрирование текста */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Тень текста */
}

.FooterButton:first-child {
  position: relative; /* Устанавливаем позиционирование для псевдоэлемента */
}

.FooterButton:first-child::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0; /* Размещаем разделитель справа */
  height: 100%;
  width: 8px; /* Толщина разделителя */
  background: linear-gradient(
    to right,
    #60C665 0%,
    #46974A 45%,
    #46974A 55%,
    #60C665 100%
  ); /* Градиентная линия */
}

.FooterButton:hover {
  background-color: #327535; /* Цвет кнопки при наведении */
}
